.region-content h3 {
    text-align: left;
    font-variant: small-caps;
}

/* page questions : start */

#questions-part-selecting {
    float: left;
    width: 49%;
}


#questions-selected {
    counter-reset: rownumber;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.counter:before {
  counter-increment: rownumber;
  content: counter(rownumber);
}
.amc-question-selected {
  margin-bottom: 5px;
  vertical-align: middle;
  border: 1px solid #aaa;
  padding: 5px;
  background-color: #eee;
}

/* page questions : end */


.ui-icon {
    position: absolute;
    margin-top: 2px;
}

.q-score label {
    display: block;
}

.score-mismatch {
    background-color: #FF4040;
}

table.quizz-summary {
    width: 100%;
}
table.quizz-summary th {
    width: 30ex;
    text-align: left;
}
td ul {
    margin: 2px 4px 2px 2em;
}

.question-answers li.answer-right {
    list-style-type: disc;
}
.question-answers li.answer-wrong {
    list-style-type: circle;
}

.async-target {
    display: none;
}
.async-post-load {
    display: none;
}
.jsenabled .async-target {
    display: block;
}
.async-target > span.loading {
    background-image: url(pix/ajax-loader.gif);
    float: left;
    width: 16px;
    height: 16px;
}

.back-to-activity {
    margin-top: 2ex;
}

#main-actions {
    text-align: center;
}
#main-actions .amc-process {
    margin-bottom: 2ex;
}
#main-actions li {
    margin: 0 2ex;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    width: 45ex;
}
#main-actions .amc-process-next:before {
    content: "→";
}
#main-actions li.amc-process-next {
    font-size: 200%;
    width: auto;
}

dt {
    font-weight: bold;
}
dt:after {
    content: " :";
}
.amc_students_selector .singleselect label {
        display: inline-block;
}
.amc_students_selector{
    float:right;
}
.amc_thumbnails .thumbnails > li,.amc_thumbnails .thumbnails > li:first-child{
    margin-left:10px!important;
    margin-bottom:10px;
}
.amc_thumbnails .thumbnail > img,
.amc_thumbnails .thumbnail > a,
.amc_thumbnails .thumbnail > a > img {
    height:120px;
}

.amc_thumbnails .thumbnail .caption{
    overflow:hidden;
}

.amc_thumbnails_failed .thumbnail > img, .amc_thumbnails .thumbnail > a >img {
    height:300px;
}
.amc_thumbnails_failed .thumbnail{
    margin:10px!important;
}

/* action column for questions datatable */
.qactions {
	width: 120px;
}

/* used in documents.php to set space between all buttons */
.form-field {
	margin-top: 5px;
	margin-bottom: 5px;
}

table.dataTable td {
    box-sizing: border-box !important;
}

/* Only works with the !important flag but moodle says its a bad practice to do so... https://docs.moodle.org/dev/Element_HTML_and_CSS_guidelines */
td, th {
    vertical-align: middle !important;
}


.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-bottom-md {
    margin-bottom: 10px;
}

.margin-bottom-xl {
    margin-bottom: 15px;
}

.student-name-caption {
  max-height: 50px;
}

.student-copy-caption {
  max-height: 95px;
}
