{{!herits from page.mustache}}
{{< mod_automultiplechoice/page}}
  {{$content}}

    {{! settings}}
    <div class="row">
      <div class="col-md-12">
        <h4>{{settings.title}}</h4>
      </div>
    </div>
    <hr/>
    {{#settings.rows}}
      <div class="row">
        <div class="col-md-4">
          <h6>{{label}}</h6>
        </div>
        <div class="col-md-8">
          <div>{{&data}}</div>
        </div>
      </div>
    {{/settings.rows}}

    {{! questions}}
    <div class="row">
      <div class="col-md-12">
        <h4>{{questions.title}}</h4>
      </div>
    </div>
    <hr/>
    {{#questions.rows}}
      <div class="row">
        <div class="col-md-4">
          <h6>{{label}}</h6>
        </div>
        <div class="col-md-8">
          <div>{{&data}}</div>
        </div>
      </div>
    {{/questions.rows}}

    {{!scoringsystem}}
    <div class="row">
      <div class="col-md-12">
        <h4>{{scoringsystem.title}}</h4>
      </div>
    </div>
    <hr/>
    {{#scoringsystem.rows}}
      <div class="row">
        <div class="col-md-4">
          <h6>{{label}}</h6>
        </div>
        <div class="col-md-8">
          <div>{{&data}}</div>
        </div>
      </div>
    {{/scoringsystem.rows}}

    {{!documents}}
    <div class="row">
      <div class="col-md-12">
        <h4>{{documents.title}}</h4>
      </div>
    </div>
    <hr/>
    {{#locked}}
      <div class="row">
        <div class="col-md-12">
          <h6>Les sujets sont prêts à être distribués.</h6>
        </div>
      </div>
      {{#documents.data.ziplink}}
      {{/documents.data.ziplink}}
      {{#documents.data.pdflinks}}
      {{/documents.data.pdflinks}}
      <button>UNLOCK</button>
    {{/locked}}
    {{^locked}}
      {{#documents.data.hasDocuments}}
        <div>Les sujets n'ont pas encore été figés mais les documents préparatoires sont disponibles.</div>
        {{#documents.data.pdflinks}}
          <a href="{{documents.data.pdflinks.sujet}}">Sujet</a>
          <div>Ce fichier contient tous les énoncés regroupés. <span class="warning">Ne pas utiliser ce fichier pour distribuer aux étudiants.</span></div>
          <a href="{{documents.data.pdflinks.catalog}}">Catalogue</a>
          <div>Le catalogue de questions.</div>
          <a href="{{documents.data.pdflinks.correction}}">Correction</a>
          <div>Les corrigés des différentes versions.</div>
        {{/documents.data.pdflinks}}
      {{/documents.data.hasDocuments}}
      {{^documents.data.hasDocuments}}
        <div>Aucun document n'est encore disponible.</div>
      {{/documents.data.hasDocuments}}
      {{#documents.data.preparetime}}
        <div>Dernière préparation des sujets PDF le {{documents.data.isoPrepareTime}}</div>
      {{/documents.data.preparetime}}
    {{/locked}}
    {{!scans upload}}
    <div class="row">
      <div class="col-md-12">
        <h4>{{uploadscans.title}}</h4>
      </div>
    </div>
    <hr/>
    {{#uploadscans.data}}
    <div>{{uploadscans.data.count}} pages scannées ont été déposées le {{uploadscans.data.timefr}}.</div>
    {{/uploadscans.data}}

    {{!associating}}
    <div class="row">
      <div class="col-md-12">
        <h4>7. {{associating.title}}</h4>
      </div>
    </div>
    <hr/>

    {{!grading}}
    <div class="row">
      <div class="col-md-12">
        <h4>{{grading.title}}</h4>
      </div>
    </div>
    <hr/>

    {{#grading.data}}
      <div class="row">
        <div class="col-md-4">
          <h6>Effectifs</h6>
        </div>
        <div class="col-md-8">
          <h6>{{grading.data.size}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h6>Moyenne</h6>
        </div>
        <div class="col-md-8">
          <h6>{{grading.data.mean}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h6>Médiane</h6>
        </div>
        <div class="col-md-8">
          <h6>{{grading.data.median}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h6>Mode</h6>
        </div>
        <div class="col-md-8">
          <h6>{{grading.data.mode}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h6>Intervalle {{# str }} range, mod_automultiplechoice {{/ str }}</h6>
        </div>
        <div class="col-md-8">
          <h6>{{grading.data.range}}</h6>
        </div>
      </div>
    {{/grading.data}}
  {{/content}}
{{/mod_automultiplechoice/page}}
