{{#showerrors}}
<div class="informationbox notifyproblem alert alert-danger">
    <ul>
      {{#errors}}
        <li>{{.}}</li>
      {{/errors}}
    </ul>
</div>
{{/showerrors}}
<div class="box informationbox well">
    <h3>{{#str}}associating_heading, mod_automultiplechoice{{/str}}</h3>
    <p> {{#str}}associating_sheets_identified, mod_automultiplechoice, {"automatic" : {{#quote}}{{nbcopyauto}}{{/quote}}, "manualy" : {{#quote}}{{nbcopymanual}}{{/quote}}, "unknown" : {{#quote}}{{nbcopyunknown}}{{/quote}}} {{/str}}</p>

    <form action="associating.php" method="POST">
        <input type="hidden" name="a" value="{{quiz.id}}" />
        <input type="hidden" name="action" value="associate" />
        <button type="submit" class="btn btn-primary">
            {{#isrelaunch}}
              {{#str}}associating_relaunch_association, mod_automultiplechoice{{/str}}
            {{/isrelaunch}}
            {{^isrelaunch}}
              {{#str}}associating_launch_association, mod_automultiplechoice{{/str}}
            {{/isrelaunch}}
        </button>
    </form>
    <hr/>
    <form class="form-inline" action="associating.php" method="GET">
        <input type="hidden" name="a" value="{{quiz.id}}" />
        <div class="form-group">
            <label for="association-mode-select">{{#str}}associationmode, mod_automultiplechoice{{/str}}</label>
            <select id="association-mode-select" class="form-control custom-select submit-on-change" name="mode">
                {{#associationmodes}}
                    <option value={{value}} {{#selected}}selected{{/selected}}>{{label}}</option>
                {{/associationmodes}}
            </select>
        </div>
        <div class="form-group">
            <label for="association-user-modes">{{#str}}associationusermode, mod_automultiplechoice{{/str}}</label>
            <select id="association-user-modes" class="form-control custom-select submit-on-change" name="usermode">
                {{#usermodes}}
                    <option value={{value}} {{#selected}}selected{{/selected}}>{{label}}</option>
                {{/usermodes}}
            </select>
        </div>
    </form>
    <hr/>
    {{&pager}}
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <tbody>
            {{#usersdata}}
              <tr>
                <td>
                  <img class="student-name-caption" src="{{fileurl}}" alt="{{filename}}"></img>
                </td>
                <td>
                    <form action="associating.php" method="POST">
                        <input type="hidden" name="a" value="{{quiz.id}}" />
                        <input type="hidden" name="action" value="set" />
                        <input type="hidden" name="file" value="{{filename}}" />
                        <select name="student" class="custom-select form-control submit-on-change">
                          {{#addemptyoption}}
                          <option value="">--</option>
                          {{/addemptyoption}}
                          {{#students}}
                            <option value="{{value}}" {{#selected}} selected {{/selected}}>{{label}}</option>
                          {{/students}}
                        </select>
                    </form>
                </td>
              <tr>
            {{/usersdata}}
            {{^usersdata}}
              <h4>{{#str}}associating_no_data_for_query, mod_automultiplechoice{{/str}}</h4>
            {{/usersdata}}
          </tbody>
        </table>
      </div>
    </div>
    <hr/>
    {{&pager}}
</div>
