{{#corrected}}
  <div>{{#str}}studentview_one_corrected_sheet, mod_automultiplechoice{{/str}}</div>
  <a href="{{corrected}}">{{#str}}studentview_sheet, mod_automultiplechoice{{/str}}</a>
{{/corrected}}
{{#correction}}
  <div>{{#str}}studentview_view_corrected_sheet, mod_automultiplechoice{{/str}}</div>
  <a href="{{correction}}">{{#str}}studentview_correction, mod_automultiplechoice{{/str}}</a>
{{/correction}}
{{^corrected}}
  <div>{{#str}}studentview_no_corrected_sheet, mod_automultiplechoice{{/str}}</div>
{{/corrected}}